@import "menu.css";

body {
    width: 100%;
}

.main_title {
    text-align: center;
    padding: 20px 10px 10px;
}

.checkout-info {
    width: 800px;
    height: auto;
    margin: 80px auto;
    background: rgb(204, 211, 218);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    text-align: left;
    justify-content: Left;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0px 20px 20px;
}

.col-50 {
    width: 49%;
    display: inline;
    text-align: left;

}

label {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.col-50 label {
    display: block;
}

.btn {
    display: block;
    background-color: #d12f45;
    border: 0;
    font-family: monospace;
    padding: 10px 10px;
    margin: 10px 0px 10px 0px;
    width: 215%;
    height: auto;
    color: #E1E8EE;
    text-decoration: none;
    text-shadow: #43484D;
    font-size: 1.2em;
}

.btn:hover {
    filter: saturate(200%);
}

input {
    background: #fff;
    border: 0px;
    padding: 2px 5px;
    margin: 3px 5px;
}

@media screen and (max-width: 840px) {
    body,
    .checkout-info,
    .col-50 {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .btn {
        width: 200%;
      text-align: center;
      margin: 6px 0;
      }
}
