@import "menu.css";

html {
    background: crimson;
    background-color: #f2f2f2;
    height: 100% ; 

}

body {
    background-color: white;
    color: white;
    line-height: 1.5;
    margin: auto;
    max-width: 85%;
    padding: 2% 2% 4%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
    font-weight: 510;
    line-height: 1.3;
    font-size: 15px;
    font-family: "Lucida Console", Monaco, monospace;
}


h1{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace; 
    font-size: 25px;
    font-style: italic;
    margin: auto;
    color : black;
    padding-bottom: 2%;
}
footer{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    background:#f2f2f2;
    color : black ;
    margin: inherit;
    clear: both ;
    position: fixed;
    bottom: 1.3%;
    width: 85%;
}



