ul#menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    position: sticky;
    align-items: center; 
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 17px;
}

li a:hover:not(.active) {
    background-color: darkgrey;
}

.active {
    background-color: #94b8b8;
    color: black ; 
}